<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="assets/MyCSS/upload.css"> -->
    <title>Admin Page</title>
</head>
<body>
    <h1>
        Details of the Users:
    </h1>
    <p class="userDetails" id="user1">Raunak Seksaria: RaunakLegend :seksariaraunak@gmail.com</p>
    <p class="userDetails" id="user2">Manas Agarwal: ManasSatna : manasagarwal@outlook.com</p>
    <p class="userDetails" id="user3">Krish Agarwal: KrishAg08 : krishagarwal@gmail.com</p>
    <p class="userDetails" id="user4">Manit Roy: BengalDadu: manit.roy@research.iiit.ac.in</p>
    <p class="userDetails" id="user5">Shreyas Deb: DistroRizz: shreyasdeb@gmail.com</p>
    <p class="userDetails" id="user6">Harshit Lalwani: CookLord: harshitlalwani@hotmail.com</p>
</body>
</html>